doctype html
html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="x-apple-disable-message-reformatting")
      title= subject
      link(rel="stylesheet", href="style.css", data-inline)
  body
    container
      spacer(size="16")
      div.content
        center
          img.logo(src=event.logo)
        row
          center
            columns
              h1 Dear #{user.firstName} #{user.lastName},
              p.body
                | Exciting news! We’ve just received your application to #{event.name}! One thing though: we need you to confirm your email here:
                br
                a(href=confirmUrl)
                  img.button(src="https://s3-us-west-1.amazonaws.com/tesc-checkin/public/email-assets/email-confirm-button.png")
                p.refer-text If that link doesn’t work, copy paste this into your browser:
                a.refer-link(href=confirmUrl) #{confirmUrl}