doctype html  
html(lang='en')  
  head
    title TESC Events
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  link(rel='stylesheet', href='/css/checkin.min.css')
  link(rel='stylesheet', href='/js/styles.css')
  link(rel='icon', href='/img/favicon.png', type="image/png")

  meta(name='description', content='TESC Events is UCSD\'s event technology platform, managing some of campuses largest events for 5,000+ students every year. We make it easy to find and apply to the latest of anything hosted or sponsored by TESC and its organisations.')

  meta(property='og:title', content='TESC Events')
  meta(property='og:description', content='TESC Events is UCSD\'s event technology platform, managing some of campuses largest events for 5,000+ students every year. We make it easy to find and apply to the latest of anything hosted or sponsored by TESC and its organisations.')
  meta(property='og:type', content='website')
  meta(property='og:site_name', content='TESC Events')
  meta(property='og:image', content='https://s3-us-west-1.amazonaws.com/tesc-checkin/public/social-assets/social-splash.png')

  meta(name='twitter:card', content='summary_large_image')
  meta(name='twitter:site', content='@UCSDTESC')
  meta(name='twitter:image', content='https://s3-us-west-1.amazonaws.com/tesc-checkin/public/social-assets/social-splash.png')
  meta(name='twitter:title', content='TESC Events')
  meta(name='twitter:description', content='TESC Events is UCSD\'s event technology platform, managing some of campuses largest events for 5,000+ students every year. We make it easy to find and apply to the latest of anything hosted or sponsored by TESC and its organisations.')


  body
    #root
 
  script(src='https://code.jquery.com/jquery-3.2.1.min.js',
    integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q",crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js",
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css',
    integrity='sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=', crossorigin='anonymous')
  script(src='/js/vendor.js')
  script(src='/js/main.js')
  script#__bs_script__.
    //<![CDATA[
    document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.23.6'><\\/script>".replace("HOST", location.hostname));
    //]]>

